@keyframes Show1 {
0%{bottom:0;width:50px;}
30%{bottom:70px;width:50px;}
60%{bottom:70px;width:300px;}
100%{bottom:70px;width:260px;}}

@keyframes Show2 {
0%{width:260px;bottom:70px;}
30%{width:300px;bottom:70px;}
70%{width:50px;bottom:70px;}
100%{width:50px;bottom:0;}}

@keyframes Liquid1 {
0%{clip-path:path('M137.5 60C137.5 64.1434 134.142 67.5 130 67.5C125.858 67.5 122.5 64.14 122.5 60C122.5 55.8565 125.858 52.5 130 52.5C134.142 52.5 137.5 55.8602 137.5 60Z');}
100%{clip-path:path('M260 59.5551C260 120.337 161.91 117.308 130 117.308C98.0902 117.308 0 120.337 0 59.5551C0 -1.22973 98.0902 1.80229 130 1.80229C161.91 1.80229 260 -1.20325 260 59.5551Z');}}

@keyframes Liquid2 {
0%{clip-path:path('M260 59.5551C260 120.337 161.91 117.308 130 117.308C98.0902 117.308 0 120.337 0 59.5551C0 -1.22973 98.0902 1.80229 130 1.80229C161.91 1.80229 260 -1.20325 260 59.5551Z');}
100%{clip-path:path('M137.5 60C137.5 64.1434 134.142 67.5 130 67.5C125.858 67.5 122.5 64.14 122.5 60C122.5 55.8565 125.858 52.5 130 52.5C134.142 52.5 137.5 55.8602 137.5 60Z');}}

@keyframes BlobA1 {
0%{opacity:1;d:path('M107 42C118.046 42 152 33.0457 152 22C152 10.9543 118.046 2 107 2C95.9543 2 87 10.9543 87 22C87 33.0457 95.9543 42 107 42Z');}
60%{opacity:1;d:path('M22.5 42.5C33.5457 42.5 42.5 33.5457 42.5 22.5C42.5 11.4543 33.5457 2.5 22.5 2.5C11.4543 2.5 2.5 11.4543 2.5 22.5C2.5 33.5457 11.4543 42.5 22.5 42.5Z');}
99%{opacity:1;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}
100%{opacity:0;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}}

@keyframes BlobB1 {
0%{opacity:1;d:path('M127 42C138.046 42 167 33.0457 167 22C167 10.9543 138.046 2 127 2C115.954 2 87 10.9543 87 22C87 33.0457 115.954 42 127 42Z');}
60%{opacity:1;d:path('M92.5 42.5C103.546 42.5 112.5 33.5457 112.5 22.5C112.5 11.4543 103.546 2.5 92.5 2.5C81.4543 2.5 72.5 11.4543 72.5 22.5C72.5 33.5457 81.4543 42.5 92.5 42.5Z');}
99%{opacity:1;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}
100%{opacity:0;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}}

@keyframes BlobC1 {
0%{opacity:1;d:path('M127 42C138.046 42 167 33.0457 167 22C167 10.9543 138.046 2 127 2C115.954 2 87 10.9543 87 22C87 33.0457 115.954 42 127 42Z');}
60%{opacity:1;d:path('M162.5 42.5C173.546 42.5 182.5 33.5457 182.5 22.5C182.5 11.4543 173.546 2.5 162.5 2.5C151.454 2.5 142.5 11.4543 142.5 22.5C142.5 33.5457 151.454 42.5 162.5 42.5Z');}
99%{opacity:1;d:path('M162.5 23C162.776 23 163 22.7761 163 22.5C163 22.2239 162.776 22 162.5 22C162.224 22 162 22.2239 162 22.5C162 22.7761 162.224 23 162.5 23Z');}
100%{opacity:0;d:path('M162.5 23C162.776 23 163 22.7761 163 22.5C163 22.2239 162.776 22 162.5 22C162.224 22 162 22.2239 162 22.5C162 22.7761 162.224 23 162.5 23Z');}}

@keyframes BlobD1 {
0%{opacity:1;d:path('M147 42C158.046 42 167 33.0457 167 22C167 10.9543 158.046 2 147 2C135.954 2 102 10.9543 102 22C102 33.0457 135.954 42 147 42Z');}
60%{opacity:1;d:path('M232.5 42.5C243.546 42.5 252.5 33.5457 252.5 22.5C252.5 11.4543 243.546 2.5 232.5 2.5C221.454 2.5 212.5 11.4543 212.5 22.5C212.5 33.5457 221.454 42.5 232.5 42.5Z');}
99%{opacity:1;d:path('M232.5 23C232.776 23 233 22.7761 233 22.5C233 22.2239 232.776 22 232.5 22C232.224 22 232 22.2239 232 22.5C232 22.7761 232.224 23 232.5 23Z');}
100%{opacity:0;d:path('M232.5 23C232.776 23 233 22.7761 233 22.5C233 22.2239 232.776 22 232.5 22C232.224 22 232 22.2239 232 22.5C232 22.7761 232.224 23 232.5 23Z');}}

@keyframes BlobA2 {
0%{opacity:0;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}
1%{opacity:1;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}
60%{opacity:1;d:path('M22.5 42.5C33.5457 42.5 42.5 33.5457 42.5 22.5C42.5 11.4543 33.5457 2.5 22.5 2.5C11.4543 2.5 2.5 11.4543 2.5 22.5C2.5 33.5457 11.4543 42.5 22.5 42.5Z');}
100%{opacity:1;d:path('M107 42C118.046 42 152 33.0457 152 22C152 10.9543 118.046 2 107 2C95.9543 2 87 10.9543 87 22C87 33.0457 95.9543 42 107 42Z');}}

@keyframes BlobB2 {
0%{opacity:0;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}
1%{opacity:1;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}
60%{opacity:1;d:path('M92.5 42.5C103.546 42.5 112.5 33.5457 112.5 22.5C112.5 11.4543 103.546 2.5 92.5 2.5C81.4543 2.5 72.5 11.4543 72.5 22.5C72.5 33.5457 81.4543 42.5 92.5 42.5Z');}
100%{opacity:1;d:path('M127 42C138.046 42 167 33.0457 167 22C167 10.9543 138.046 2 127 2C115.954 2 87 10.9543 87 22C87 33.0457 115.954 42 127 42Z');}}

@keyframes BlobC2 {
0%{opacity:0;d:path('M162.5 23C162.776 23 163 22.7761 163 22.5C163 22.2239 162.776 22 162.5 22C162.224 22 162 22.2239 162 22.5C162 22.7761 162.224 23 162.5 23Z');}
1%{opacity:1;d:path('M162.5 23C162.776 23 163 22.7761 163 22.5C163 22.2239 162.776 22 162.5 22C162.224 22 162 22.2239 162 22.5C162 22.7761 162.224 23 162.5 23Z');}
60%{opacity:1;d:path('M162.5 42.5C173.546 42.5 182.5 33.5457 182.5 22.5C182.5 11.4543 173.546 2.5 162.5 2.5C151.454 2.5 142.5 11.4543 142.5 22.5C142.5 33.5457 151.454 42.5 162.5 42.5Z');}
100%{opacity:1;d:path('M127 42C138.046 42 167 33.0457 167 22C167 10.9543 138.046 2 127 2C115.954 2 87 10.9543 87 22C87 33.0457 115.954 42 127 42Z');}}

@keyframes BlobD2 {
0%{opacity:0;d:path('M232.5 23C232.776 23 233 22.7761 233 22.5C233 22.2239 232.776 22 232.5 22C232.224 22 232 22.2239 232 22.5C232 22.7761 232.224 23 232.5 23Z');}
1%{opacity:1;d:path('M232.5 23C232.776 23 233 22.7761 233 22.5C233 22.2239 232.776 22 232.5 22C232.224 22 232 22.2239 232 22.5C232 22.7761 232.224 23 232.5 23Z');}
60%{opacity:1;d:path('M232.5 42.5C243.546 42.5 252.5 33.5457 252.5 22.5C252.5 11.4543 243.546 2.5 232.5 2.5C221.454 2.5 212.5 11.4543 212.5 22.5C212.5 33.5457 221.454 42.5 232.5 42.5Z');}
100%{opacity:1;d:path('M147 42C158.046 42 167 33.0457 167 22C167 10.9543 158.046 2 147 2C135.954 2 102 10.9543 102 22C102 33.0457 135.954 42 147 42Z');}}
