@keyframes Show1 {
0%{bottom:0;width:50px;}
30%{bottom:70px;width:50px;}
60%{bottom:70px;width:170px;}
100%{bottom:70px;width:120px;}}

@keyframes Show2 {
0%{width:120px;bottom:70px;}
30%{width:170px;bottom:70px;}
70%{width:50px;bottom:70px;}
100%{width:50px;bottom:0;}}

@keyframes Liquid1 {
0%{clip-path:path('M60 67.5C55.8579 67.5 52.5 64.1421 52.5 60C52.5 55.8579 55.8579 52.5 60 52.5C64.1421 52.5 67.5 55.8579 67.5 60C67.5 64.1421 64.1421 67.5 60 67.5Z');}
100%{clip-path:path('M60 89.9871C43.4315 89.9871 0 91.5602 0 60C0 28.4386 43.4315 30.013 60 30.013C76.5685 30.013 120 28.4524 120 60C120 91.5602 76.5685 89.9871 60 89.9871Z');}}

@keyframes Liquid2 {
0%{clip-path:path('M60 89.9871C43.4315 89.9871 0 91.5602 0 60C0 28.4386 43.4315 30.013 60 30.013C76.5685 30.013 120 28.4524 120 60C120 91.5602 76.5685 89.9871 60 89.9871Z');}
100%{clip-path:path('M60 67.5C55.8579 67.5 52.5 64.1421 52.5 60C52.5 55.8579 55.8579 52.5 60 52.5C64.1421 52.5 67.5 55.8579 67.5 60C67.5 64.1421 64.1421 67.5 60 67.5Z');}}

@keyframes BlobA1 {
0%{opacity:1;d:path('M45 42.5C56.0457 42.5 90 38.55 90 22.5C90 6.45 56.0457 2.5 45 2.5C33.9543 2.5 25 11.4543 25 22.5C25 33.5457 33.9543 42.5 45 42.5Z');}
60%{opacity:1;d:path('M22.5 42.5C33.5457 42.5 42.5 33.5457 42.5 22.5C42.5 11.4543 33.5457 2.5 22.5 2.5C11.4543 2.5 2.5 11.4543 2.5 22.5C2.5 33.5457 11.4543 42.5 22.5 42.5Z');}
99%{opacity:1;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}
100%{opacity:0;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}}

@keyframes BlobB1 {
0%{opacity:1;d:path('M70 42.5C81.0457 42.5 90 33.5457 90 22.5C90 11.4543 81.0457 2.5 70 2.5C58.9543 2.5 25 6.45 25 22.5C25 38.55 58.9543 42.5 70 42.5Z');}
60%{opacity:1;d:path('M92.5 42.5C103.546 42.5 112.5 33.5457 112.5 22.5C112.5 11.4543 103.546 2.5 92.5 2.5C81.4543 2.5 72.5 11.4543 72.5 22.5C72.5 33.5457 81.4543 42.5 92.5 42.5Z');}
99%{opacity:1;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}
100%{opacity:0;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}}

@keyframes BlobA2 {
0%{opacity:0;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}
1%{opacity:1;d:path('M22.5 23C22.7761 23 23 22.7761 23 22.5C23 22.2239 22.7761 22 22.5 22C22.2239 22 22 22.2239 22 22.5C22 22.7761 22.2239 23 22.5 23Z');}
60%{opacity:1;d:path('M22.5 42.5C33.5457 42.5 42.5 33.5457 42.5 22.5C42.5 11.4543 33.5457 2.5 22.5 2.5C11.4543 2.5 2.5 11.4543 2.5 22.5C2.5 33.5457 11.4543 42.5 22.5 42.5Z');}
100%{opacity:1;d:path('M45 42.5C56.0457 42.5 90 38.55 90 22.5C90 6.45 56.0457 2.5 45 2.5C33.9543 2.5 25 11.4543 25 22.5C25 33.5457 33.9543 42.5 45 42.5Z');}}

@keyframes BlobB2 {
0%{opacity:0;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}
1%{opacity:1;d:path('M92.5 23C92.7761 23 93 22.7761 93 22.5C93 22.2239 92.7761 22 92.5 22C92.2239 22 92 22.2239 92 22.5C92 22.7761 92.2239 23 92.5 23Z');}
60%{opacity:1;d:path('M92.5 42.5C103.546 42.5 112.5 33.5457 112.5 22.5C112.5 11.4543 103.546 2.5 92.5 2.5C81.4543 2.5 72.5 11.4543 72.5 22.5C72.5 33.5457 81.4543 42.5 92.5 42.5Z');}
100%{opacity:1;d:path('M70 42.5C81.0457 42.5 90 33.5457 90 22.5C90 11.4543 81.0457 2.5 70 2.5C58.9543 2.5 25 6.45 25 22.5C25 38.55 58.9543 42.5 70 42.5Z');}}
