@keyframes Show1 {
0%{bottom:0;width:50px;}
30%{bottom:70px;width:50px;}
60%{bottom:70px;width:170px;}
100%{bottom:70px;width:120px;}}

@keyframes Show2 {
0%{width:120px;bottom:70px;}
30%{width:170px;bottom:70px;}
70%{width:50px;bottom:70px;}
100%{width:50px;bottom:0;}}

@keyframes Liquid1 {
0%{d:path('M82.5 75C82.5 79 79 82.5 75 82.5C71 82.5 67.5 79 67.5 75C67.5 71 71 67.5 75 67.5C79 67.5 82.5 71 82.5 75Z');}
100%{d:path('M140 75C140 103 103 103 75 103C47 103 10 103 10 75C10 47 47 47 75 47C103 47 140 47 140 75Z');}}

@keyframes Liquid2 {
0%{d:path('M140 75C140 103 103 103 75 103C47 103 10 103 10 75C10 47 47 47 75 47C103 47 140 47 140 75Z');}
100%{d:path('M82.5 75C82.5 79 79 82.5 75 82.5C71 82.5 67.5 79 67.5 75C67.5 71 71 67.5 75 67.5C79 67.5 82.5 71 82.5 75Z');}}

@keyframes BlobA1 {
0%{opacity:1;d:path('M90 22.5C90 33.5 55 42.5 45 42.5C35 42.5 25 33.5 25 22.5C25 11.5 35 2.5 45 2.5C55 2.5 90 11.5 90 22.5Z');}
60%{opacity:1;d:path('M42.5 22.5C42.5 33.5 32.5 42.5 22.5 42.5C12.5 42.5 2.5 33.5 2.5 22.5C2.5 11.5 12.5 2.5 22.5 2.5C32.5 2.5 42.5 11.5 42.5 22.5Z');}
99%{opacity:1;d:path('M23 22.5C23 22.775 22.75 23 22.5 23C22.25 23 22 22.775 22 22.5C22 22.225 22.25 22 22.5 22C22.75 22 23 22.225 23 22.5Z');}
100%{opacity:0;d:path('M23 22.5C23 22.775 22.75 23 22.5 23C22.25 23 22 22.775 22 22.5C22 22.225 22.25 22 22.5 22C22.75 22 23 22.225 23 22.5Z');}}

@keyframes BlobB1 {
0%{opacity:1;d:path('M90 22.5C90 33.5 81 42.5 70 42.5C59 42.5 25 33.5 25 22.5C25 11.5 59 2.5 70 2.5C81 2.5 90 11.5 90 22.5Z');}
60%{opacity:1;d:path('M112.5 22.5C112.5 33.5 103.5 42.5 92.5 42.5C81.5 42.5 72.5 33.5 72.5 22.5C72.5 11.5 81.5 2.5 92.5 2.5C103.5 2.5 112.5 11.5 112.5 22.5Z');}
99%{opacity:1;d:path('M93 22.5C93 22.775 92.775 23 92.5 23C92.225 23 92 22.775 92 22.5C92 22.225 92.225 22 92.5 22C92.775 22 93 22.225 93 22.5Z');}
100%{opacity:0;d:path('M93 22.5C93 22.775 92.775 23 92.5 23C92.225 23 92 22.775 92 22.5C92 22.225 92.225 22 92.5 22C92.775 22 93 22.225 93 22.5Z');}}

@keyframes BlobA2 {
0%{opacity:0;d:path('M23 22.5C23 22.775 22.75 23 22.5 23C22.25 23 22 22.775 22 22.5C22 22.225 22.25 22 22.5 22C22.75 22 23 22.225 23 22.5Z');}
1%{opacity:1;d:path('M23 22.5C23 22.775 22.75 23 22.5 23C22.25 23 22 22.775 22 22.5C22 22.225 22.25 22 22.5 22C22.75 22 23 22.225 23 22.5Z');}
60%{opacity:1;d:path('M42.5 22.5C42.5 33.5 32.5 42.5 22.5 42.5C12.5 42.5 2.5 33.5 2.5 22.5C2.5 11.5 12.5 2.5 22.5 2.5C32.5 2.5 42.5 11.5 42.5 22.5Z');}
100%{opacity:1;d:path('M90 22.5C90 33.5 55 42.5 45 42.5C35 42.5 25 33.5 25 22.5C25 11.5 35 2.5 45 2.5C55 2.5 90 11.5 90 22.5Z');}}

@keyframes BlobB2 {
0%{opacity:0;d:path('M93 22.5C93 22.775 92.775 23 92.5 23C92.225 23 92 22.775 92 22.5C92 22.225 92.225 22 92.5 22C92.775 22 93 22.225 93 22.5Z');}
1%{opacity:1;d:path('M93 22.5C93 22.775 92.775 23 92.5 23C92.225 23 92 22.775 92 22.5C92 22.225 92.225 22 92.5 22C92.775 22 93 22.225 93 22.5Z');}
60%{opacity:1;d:path('M112.5 22.5C112.5 33.5 103.5 42.5 92.5 42.5C81.5 42.5 72.5 33.5 72.5 22.5C72.5 11.5 81.5 2.5 92.5 2.5C103.5 2.5 112.5 11.5 112.5 22.5Z');}
100%{opacity:1;d:path('M90 22.5C90 33.5 81 42.5 70 42.5C59 42.5 25 33.5 25 22.5C25 11.5 59 2.5 70 2.5C81 2.5 90 11.5 90 22.5Z');}}
